@import url("https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap");
.cards_root {
  background-color: #aeabfa;
  height: 32.5rem;
  display: flex;
}
.imageDiv_cardsSection {
  background: url("./assets/cardsmain.png");
  height: 32.5rem;
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-top: 1px solid white;
}
.imageDiv_cardsSection h1 {
  margin-top: -5rem;
  font-family: "Syne", sans-serif;
  color: #dbc9f2;
  font-weight: 500;
  font-size: 1.65rem;
}
.imageDiv_cardsSection p {
  line-height: 0%;
  font-size: 0.7rem;
  color: #7a7a7a;
}
.cards_main_carsSection {
  display: flex;
  margin-left: 3.5vw;
}
.box {
  height: 14rem;
  width: 13rem;
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.194);
  margin: 2rem;
}
.box_part1 {
  margin-top: -5rem;
}
.box2 {
  opacity: 0.9;
}
.box_part2 {
  margin-left: -2rem;
  opacity: 0.9;
}
.box_img {
  display: inline-block;
  margin-left: 37%;
  margin-top: 1rem;
  height: 2rem;
  width: 2.8rem;
}
.box_h1 {
  display: block;
  font-size: 0.7rem;
  margin-top: 1rem;
  font-weight: bold;
  text-align: center;
}
.box_span {
  margin-top: 1rem;
  color: #7a7a7a;
  margin-left: 1.8rem;
  margin-right: 0.8rem;
  font-size: 0.7rem;
}
@media only screen and (min-width: 1500px) {
  .cards_main_carsSection {
    margin-left: 10.5vw;
  }
}
