@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
.howItWorks_root_div {
  height: 30rem;
  display: flex;
}
.first_half_howItWork {
  height: 28rem;
  width: 50%;
  background: #242323;
  padding-bottom: 2rem;
}
.second_half_howItWork {
  width: 50%;
  height: 30rem;
  background-color: #aeabfa;
}
.textPart_firtsHalf {
  display: inline-block;
  margin-left: 4rem;
  margin-top: 3rem;
  color: #dbc9f2;
  padding-right: 1rem;
}
.textPart_firtsHalf h1 {
  font-family: "Syne", sans-serif;
}
.textPart_firtsHalf p {
  font-family: "Questrial", sans-serif;
  font-size: 0.8rem;
}
.imagePart_firstHalf {
  display: flex;
}
.imgePart {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 3rem;
}
.imgePart img {
  width: 3rem;
  height: 4.5rem;
}
.textPart_firstHalf {
  display: inline-block;
  margin-left: 4rem;
  margin-top: 2rem;
}
.textPart {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.textPart span {
  font-weight: bold;
  color: white;
}
.second_half_box_main {
  display: flex;
  flex-direction: column;
}
.box_secondHalf {
  margin-top: 2vw;
  height: 14vw;
  width: 18.5vw;
  background: #fffdd099;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.194);
}
.secondHalf_box1 {
  margin-top: 2.5vw;
  margin-left: 8vw;
}
.secondHalf_box2 {
  margin-left: 19vw;
  width: 21.5vw;
}
@media only screen and (min-width: 1400px) {
  .box_secondHalf {
    margin-top: 1vw;
  }
  .secondHalf_box1 {
    margin-top: 1.5vw;
  }
}
@media only screen and (min-width: 1600px) {
  .secondHalf_box1 {
    height: 12vw;
    width: 16.5vw;
  }
  .secondHalf_box2 {
    height: 12vw;
    width: 19.5vw;
  }
}
@media only screen and (min-width: 1700px) {
  .secondHalf_box1 {
    height: 10vw;
    width: 14.5vw;
  }
  .secondHalf_box2 {
    height: 10vw;
    width: 17.5vw;
  }
}
@media only screen and (min-width: 1920px) {
  .secondHalf_box1 {
    height: 12rem;
    width: 18.5rem;
  }
  .secondHalf_box2 {
    height: 12rem;
    width: 20.5rem;
  }
}
@media only screen and (max-width: 950px) {
  .secondHalf_box1 {
    height: 25vw;
    width: 16.5vw;
  }
  .secondHalf_box2 {
    height: 25vw;
    width: 19.5vw;
  }
}
@media only screen and (max-width: 700px) {
  .howItWorks_root_div {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .first_half_howItWork {
    height: auto;
    width: 100%;
    background: #242323;
    padding-bottom: 2rem;
  }
  .second_half_howItWork {
    width: 100%;
    height: auto;
    background-color: #aeabfa;
  }
  .textPart_firtsHalf {
    display: inline-block;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 3rem;
    color: #dbc9f2;
  }
  .textPart_firtsHalf h1 {
    font-family: "Syne", sans-serif;
  }
  .textPart_firtsHalf p {
    font-family: "Questrial", sans-serif;
    font-size: 0.9rem;
  }
  .imagePart_firstHalf {
    display: flex;
  }
  .imgePart {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 28%;
  }

  .second_half_box_main {
    display: flex;
    flex-direction: column;
  }
  .box_secondHalf {
    margin-top: 2vw;
    margin-left: 40%;
    height: 35vw;
    width: 55vw;
    background: #fffdd099;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.194);
  }
  .secondHalf_box1 {
    margin-top: 5vw;
  }
  .secondHalf_box2 {
    margin-left: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
}
@media only screen and (max-width: 500px) {
  .textPart_firtsHalf {
    display: inline-block;
    text-align: center;
    color: #dbc9f2;
  }
  .textPart_firtsHalf h1 {
    font-family: "Syne", sans-serif;
  }
  .textPart_firtsHalf p {
    font-family: "Questrial", sans-serif;
    font-size: 1rem;
  }
  .imagePart_firstHalf {
    display: flex;
  }
  .imgePart {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 15%;
  }

  .second_half_box_main {
    display: flex;
    flex-direction: column;
  }
  .box_secondHalf {
    margin-top: 2vw;
    margin-left: 35%;
    height: 45vw;
    width: 60vw;
    background: #fffdd099;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.194);
  }
  .secondHalf_box1 {
    margin-top: 5vw;
  }
  .secondHalf_box2 {
    margin-left: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
}
