.header_root {
  background: #242323;
  height: 10rem;
}
.header_root > div {
  display: flex;
  justify-content: center;
}
.burger_menu {
  display: none;
}
.navigation_header_burger {
  display: none;
}
.burgerBtn {
  display: none;
}
.imge_header {
  display: inline-block;
  padding-top: 0.5rem;
  position: absolute;
  margin-right: 45rem;
}
.imge_header img {
  width: 5.5rem;
  height: 5.5rem;
}
.navigation_header ul {
  display: flex;
  margin-top: -0.1rem;
  padding-top: 0.8rem;
}

.navigation_header ul li {
  list-style: none;
  padding-bottom: 0.3rem;
}
.navigation_header ul li a {
  font-weight: bolder;
  font-size: 0.75rem;
  text-decoration: none;
  color: white;
  padding: 1rem;
}
.navigation_header ul li:hover {
  border-bottom: 2px solid #4f72e3;
}
.navigation_header ul li a:hover {
  transition: 0.15s ease-in;
  color: #4f72e3;
  cursor: pointer;
}
@media only screen and (max-width: 950px) {
  .imge_header {
    display: inline-block;
    padding-top: 0.5rem;
    position: absolute;
    margin-right: 40rem;
  }
  .imge_header img {
    width: 6rem;
    height: 6rem;
  }
}
@media only screen and (max-width: 790px) {
  .header_root {
    height: auto;
    min-height: 16rem;
  }
  .burgerBtn {
    background: rgba(0, 0, 0, 0.194);
    opacity: 0.6;
    border: none;
    display: inline-block;
    position: absolute;
    margin-top: 1rem;
    margin-left: 15rem;
    cursor: pointer;
  }
  .burgerBtn img {
    opacity: 0.4;
    width: 2rem;
    height: 2rem;
  }
  .imge_header {
    margin-right: 35rem;
  }
  .imge_header img {
    width: 12rem;
    height: 12rem;
  }
  .navigation_header {
    display: none;
  }
  .navigation_header_burger {
    margin-bottom: 2rem;
    margin-top: 3rem;
    margin-left: 12.5rem;
  }
  .navigation_header_burger ul {
    margin: 1rem 5rem;
  }
  .navigation_header_burger ul li {
    list-style: none;
  }
  .navigation_header_burger ul li a {
    width: 5rem;
    display: inline-block;
    background: white;
    padding: 0.5rem 400px 0.5rem 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
  }
  .navigation_header_burger ul li a:hover {
    color: white;
    background: grey;
  }
}
@media only screen and (max-width: 700px) {
  .header_root {
    height: auto;
    min-height: 25rem;
  }

  .burgerBtn {
    opacity: 0.6;
    border: none;
    display: inline-block;
    position: absolute;
    margin-top: 14rem;
    margin-left: 0rem;
    cursor: pointer;
  }
  .burgerBtn img {
    opacity: 0.4;
    width: 2rem;
    height: 2rem;
  }
  .imge_header {
    margin-left: 35rem;
    margin-top: 0.5rem;
  }
  .imge_header img {
    width: 12rem;
    height: 12rem;
  }
  .navigation_header {
    display: none;
  }
  .navigation_header_burger {
    margin-bottom: 2rem;
    margin-top: 17rem;
    margin-right: 15.5rem;
  }
  .navigation_header_burger ul li {
    list-style: none;
  }
  .navigation_header_burger ul li a {
    display: inline-block;
    background: white;
    width: 9rem;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
  }
  .navigation_header_burger ul li a:hover {
    color: white;
    background: grey;
  }
}
@media only screen and (max-width: 500px) {
  .navigation_header_burger ul li a {
    padding: 0.5rem 1rem;
    width: 80vw;
  }
}
