.lastSection_root {
  background: #e5ebfa;
  min-height: 150vh;
  padding-bottom: 0.7rem;
}
.mainHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainHeading h1 {
  font-family: "Syne", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}
.mainParaghraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0rem 21rem;
}
.mainParaghraph p {
  color: #7a7a7a;
  font-size: 1rem;
}
.imageCardsPart {
  background: #afacfb;
  height: 25rem;
  margin: 0rem 1.5rem;
  margin-top: 2.5rem;
}
.imageCardsPart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.imageCard_main img {
  height: 15rem;
  width: 12rem;
}
.contentPart_imageCard {
  position: absolute;
  height: auto;
  width: 12rem;
  background: #f2f3f5;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.194);
  margin-left: 1rem;
  margin-top: -2rem;
}
.contentPart_imageCard h5 {
  font-family: "Syne", sans-serif;
  margin: 0.5rem 1rem;
  font-size: 0.9rem;
}
.contentPart_imageCard p {
  color: #7a7a7a;
  font-size: 0.8rem;
  margin: 0rem 1rem;
  margin-bottom: 0.8rem;
}
.partnersPart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  background: #afacfb;
  margin: 0rem 19.5vw;
  padding-bottom: 2rem;
  padding-top: 0.7rem;
}
.partnersPart h2 {
  font-family: "Syne", sans-serif;
  font-size: 1.3rem;
}
.partnersPart img {
  width: 5.5rem;
  height: 2.2rem;
}
.videoPart {
  margin: 0rem 19.5vw;
  margin-top: 1rem;
  height: 28rem;
  display: flex;
}
.videoPart_firstHalf {
  height: 28rem;
  width: 50%;
  background: url("./assets/rotate.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content_firstHalf {
  text-align: center;
  margin-top: 60%;
}
.videoPart_firstHalf p {
  font-family: "Syne", sans-serif;
  line-height: 0rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.videoPart_secondHalf {
  height: 28rem;
  width: 50%;
  background: #afacfb;
}
.contentPart_secondHalf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contentPart_secondHalf span {
  font-size: 0.9rem;
  padding: 0.2rem 2rem;
  margin-top: 50%;
}
.secondHalf_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 7rem;
  background: black;
  border: none;
  color: white;
  font-size: 0.65rem;
  font-family: "Poppins", sans-serif;
  padding: 0.35rem 1.2rem;
  border-radius: 0.6rem;
  cursor: pointer;
}
.secondHalf_btn:hover {
  background: #8782f6;
  color: black;
  transition: 0.2s ease-in;
}
@media only screen and (min-height: 1000px) {
  .lastSection_root {
    min-height: 100vh;
  }
}
@media only screen and (min-width: 1300px) {
  .content_firstHalf {
    margin-top: 16vw;
  }
  .contentPart_secondHalf span {
    margin-top: 15vw;
  }
  .partnersPart img {
    width: 6rem;
    height: 2.4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .content_firstHalf {
    margin-top: 16vw;
  }
  .contentPart_secondHalf span {
    margin-top: 12vw;
  }
}
@media only screen and (min-width: 1600px) {
  .content_firstHalf {
    margin-top: 14vw;
  }
  .contentPart_secondHalf span {
    margin-top: 12vw;
  }
}
@media only screen and (min-width: 1900px) {
  .content_firstHalf {
    margin-top: 12vw;
  }
  .contentPart_secondHalf span {
    margin-top: 10vw;
  }
}
@media only screen and (max-width: 1201px) {
  .content_firstHalf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .videoPart_firstHalf p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1000px) {
  .partnersPart {
    gap: 2.5vw;
  }
}
@media only screen and (max-width: 950px) {
  .mainParaghraph {
    padding: 0rem 11rem;
  }
  .imageCardsPart {
    height: 25rem;
    margin: 0rem 0.5rem;
    margin-top: 2.5rem;
  }
  .imageCardsPart {
    gap: 1.5rem;
  }
  .imageCard_main img {
    height: 15rem;
    width: 10rem;
  }
  .contentPart_imageCard {
    height: auto;
    width: 10rem;
    margin-left: 1rem;
    margin-top: -2rem;
    padding-bottom: 0.5rem;
  }
  .contentPart_imageCard h5 {
    margin: 0.5rem 1rem;
  }
  .contentPart_imageCard p {
    margin: 0rem 1rem;
  }
  .content_firstHalf {
    margin-top: 80%;
  }
  .videoPart_firstHalf p {
    font-size: 1rem;
  }

  .partnersPart img {
    width: 4.5rem;
    height: 2rem;
  }
  .mainHeading h1 {
    font-family: "Syne", sans-serif;
    font-weight: bold;
    font-size: 3rem;
  }

  .mainParaghraph p {
    color: #7a7a7a;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 700px) {
  .mainParaghraph {
    padding: 0rem 2rem;
  }
  .imageCardsPart {
    height: 25rem;
    margin: 0rem 0.5rem;
    margin-top: 2.5rem;
  }
  .imageCardsPart {
    background: #afacfb;
    height: auto;
    margin: 0rem 1.5rem;
    margin-top: 2.5rem;
  }
  .imageCardsPart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .imageCardsPart {
    gap: 5rem;
  }
  .imageCard_main img {
    height: 15rem;
    width: 25rem;
  }
  .contentPart_imageCard {
    height: auto;
    width: 25rem;
    margin-left: 1rem;
    margin-top: -2rem;
    padding-bottom: 0.5rem;
  }
  .contentPart_imageCard h5 {
    margin: 0.5rem 1rem;
    font-size: larger;
  }
  .contentPart_imageCard p {
    margin: 0rem 1rem;
    font-size: 1rem;
  }

  .partnersPart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    background: #afacfb;
    margin: 0rem 15vw;
    padding-bottom: 2rem;
    padding-top: 0.7rem;
  }
  .partnersPart h2 {
    font-family: "Syne", sans-serif;
    font-size: 1.7rem;
    margin-left: -10rem;
  }
  .partnersPart img {
    width: 6rem;
    height: 2.5rem;
    margin: 1rem;
  }
  .mainHeading h1 {
    font-family: "Syne", sans-serif;
    font-weight: bold;
    font-size: 2.8rem;
  }

  .mainParaghraph p {
    color: #7a7a7a;
    font-size: 1.2rem;
  }
  .videoPart {
    margin: 0rem 15vw;
    margin-top: 1rem;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .videoPart_firstHalf {
    height: 30rem;
    width: 100%;
    background: url("./assets/rotate.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .videoPart_firstHalf p {
    line-height: 0.5rem;
    color: white;
    font-size: 1.5rem;
  }
  .firtsPara {
    margin-top: -7rem;
  }

  .videoPart_secondHalf {
    height: 30rem;
    width: 100%;
    background: #afacfb;
  }
  .contentPart_secondHalf {
    display: flex;
    flex-direction: column;
  }
  .contentPart_secondHalf span {
    font-size: 1rem;
    padding: 0.2rem 2rem;
    margin-top: 10rem;
  }
  .secondHalf_btn {
    margin-top: 2rem;
    font-size: 0.65rem;
  }
}
@media only screen and (max-width: 500px) {
  .mainParaghraph {
    text-align: center;
  }

  .imageCardsPart {
    background: #afacfb;
    height: auto;
    margin: 0rem 1rem;
    margin-top: 2.5rem;
  }

  .imageCard_main img {
    height: 15rem;
    width: 15rem;
  }
  .imageCardsPart {
    gap: 5rem;
  }
  .contentPart_imageCard {
    height: auto;
    width: 15rem;
    margin-left: 1rem;
    margin-top: -2rem;
    padding-bottom: 0.5rem;
  }

  .partnersPart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
    background: #afacfb;
    margin: 0rem 15vw;
    padding-bottom: 2rem;
    padding-top: 0.7rem;
  }
  .partnersPart h2 {
    font-family: "Syne", sans-serif;
    font-size: 1.7rem;
    margin-left: -5rem;
  }
  .partnersPart img {
    width: 6rem;
    height: 2.5rem;
    margin: 1rem;
  }
  .mainHeading h1 {
    font-family: "Syne", sans-serif;
    font-weight: bolder;
    font-size: 2.8rem;
    text-align: center;
  }
  .videoPart_firstHalf {
    height: 25rem;
    width: 100%;
    background: url("./assets/rotate.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .videoPart_firstHalf p {
    line-height: 1.7rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;
  }
  .firtsPara {
    margin-top: -25%;
    margin-bottom: -1rem;
  }

  .videoPart_secondHalf {
    height: 25rem;
    width: 100%;
    background: #afacfb;
  }
  .contentPart_secondHalf {
    display: flex;
    flex-direction: column;
  }
  .contentPart_secondHalf span {
    font-size: 0.9rem;
    padding: 0.2rem 2rem;
    margin-top: 4rem;
  }
}
